# Arquivos do sistema
.DS_Store
Thumbs.db

# Arquivos de IDE/Editor
.vscode/
.idea/
*.swp
*.swo

# Dependências
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Arquivos de build
dist/
build/ 